{% extends "base.html" %}
{% block title %}
  <title>Dashboard</title>
{% endblock %}

{% block inside_nav %}
  <div class="d-flex ms-auto align-items-center">
    <p style="font-family: Arial; color: black;" class="me-5 mb-0">ID : {{user}} <br>Name : {{user_name}}</p>
    <form class="d-flex" method="GET" action="/sign-out">
      <button class="btn btn-primary" type="submit">Sign out</button>
    </form>
  </div>
{% endblock %}

{% block content %}
  {% if messages %}
    <div style="position: fixed; top: 10vh; right: 1vw; height: 5vh; width: 15vw">
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-error text-center" role="alert">
            {{ message }}
          </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="alert alert-warning text-center" role="alert">
            {{ message }}
          </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success text-center" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="container mt-5">
    <table class="table table-secondary table-hover table-bordered table-sm align-middle" style="table-layout: fixed;">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Term</th>
          <th scope="col">Academic Year</th>
          <th scope="col">Max Capacity</th>
          <th scope="col">Current Enrollment</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for course in reg %}
          <tr>
            {% if  course != 'empty' %}
            <td class="text-center">{{course.course_ID}}</td>
            <td class="text-center">{{course.course_name}}</td>
            <td class="text-center">{{course.semester}}</td>
            <td class="text-center">{{course.academic_year}}</td>
            <td class="text-center">{{course.max_capacity}}</td>
            <td class="text-center">{{course.current_registration}}</td>
            <td class="text-center">{{course.status}}</td>
            <td class="text-center"><a href="delete/{{course.course_ID}}" class="btn btn-danger btn-sm">Delete</a></td>
            {% else %}
              <td colspan="8" class="text-center"><button class="btn btn-link btn-sm" disabled>Empty</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container">
    <form method="GET" action="{% url 'dashboard' %}" class="row g-2">
      <div class="input-group">
        <input type="search" class="form-control" style="background-color: #e2e3e5;" placeholder="Search with course ID" name="filter" />
        <button type="submit" class="btn btn-primary">search</button>
      </div>
    </form>
  </div>
  
  <div class="container mt-3">
    <table class="table table-secondary table-hover table-bordered table-sm align-middle" style="table-layout: fixed;">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Term</th>
          <th scope="col">Academic Year</th>
          <th scope="col">Max Capacity</th>
          <th scope="col">Current Enrollment</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for course in all_course %}
          <tr>
            <td class="text-center">{{course.course_ID}}</td>
            <td class="text-center">{{course.course_name}}</td>
            <td class="text-center">{{course.semester}}</td>
            <td class="text-center">{{course.academic_year}}</td>
            <td class="text-center">{{course.max_capacity}}</td>
            <td class="text-center">{{course.current_registration}}</td>
            <td class="text-center">{{course.status}}</td>
            {% if course.course_ID in reg_id %}
              <td class="text-center"><button class="btn btn-success btn-sm" disabled>Registered</button></td>
            {% elif course.current_registration >= course.max_capacity %}
              <td class="text-center"><button class="btn btn-secondary btn-sm" disabled>Full</button></td>
            {% elif course.status == True  %}
              <td class="text-center"><a href="add/{{course.course_ID}}" class="btn btn-primary btn-sm">Add</a></td>
            {% else %}
              <td class="text-center"><button class="btn btn-secondary btn-sm" disabled>Not Available</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
