{% extends "base.html" %}
{% block title %}
  <title>Dashboard</title>
{% endblock %}

{% block inside_nav %}
      <div class="d-flex ms-auto align-items-center">
        <p style="font-size: 20px;" class="me-5 mb-0">ID : {{user}} Name : {{user_name}}</p>
        <form class="d-flex" method="GET" action="/sign-out">
          <button class="btn btn-primary" type="submit">Sign out</button>

        </form>
      </div>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">code</th>
          <th scope="col">delete course</th>
        </tr>
      </thead>
      <tbody>
        {% for course in reg %}
          <tr>
            <td>{{course.course_ID}}</td>
            <td><a href="delete/{{course.course_ID}}" class="btn btn-danger">delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    {% if messages %}
      <div class="container mx-auto">
        <div class="form-group col-md-4 text-center">
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              <div class="alert alert-warning" role="alert">
                {{ message }}
              </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

  <div class="container">
    <form method="GET" action="{% url 'dashboard' %}" class="row g-2">
      <div class="col-auto">
        <p>Search with course ID</p>
      </div>
      <div class="col-auto">
          <input type="text" class="form-control" name="filter" placeholder="Search...">
      </div>
      <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
  


  
  
  <div class="container mt-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">course ID</th>
          <th scope="col">course name</th>
          <th scope="col">semester</th>
          <th scope="col">year</th>
          <th scope="col">max capacity</th>
          <th scope="col">currently registered</th>
          <th scope="col">status</th>
          <th scope="col">add course</th>
        </tr>
      </thead>
      <tbody>
        {% for course in all_course %}
          <tr>
            <td>{{course.course_ID}}</td>
            <td>{{course.course_name}}</td>
            <td>{{course.semester}}</td>
            <td>{{course.academic_year}}</td>
            <td>{{course.max_capacity}}</td>
            <td>{{course.current_registration}}</td>
            <td>{{course.status}}</td>
            {% if course.status == True  %}
              <td><a href="add/{{course.course_ID}}" class="btn btn-success">add</a></td>
            {% else %}
              <td><a class="btn btn-danger">add</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}