{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
  <p>{{user}} name : {{user_name}}</p>

  <table class="table">
    <thead>
          <tr>
            <th scope="col">code</th>
            <th scope="col">code</th>
          </tr>
    </thead>
    <tbody>
      {% for course in reg %}
        <tr>
          <td>{{course.id}}</td>
          <td>{{course.course_ID}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="GET" action={% url 'dashboard' %}>
    <div class="col-md-4">
      <input type="text" class="form-control" name="filter"> 
      <button type="submit" class="btn btn-primary">search</button>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">code</th>
        <th scope="col">name</th>
        <th scope="col">sem</th>
        <th scope="col">year</th>
        <th scope="col">max</th>
        <th scope="col">curr</th>
        <th scope="col">status</th>
        <th scope="col">เพิ่ม</th>
      </tr>
    </thead>
    <tbody>
      {% for course in all_course %}
        <tr>
          <td>{{course.course_ID}}</td>
          <td>{{course.course_name}}</td>
          <td>{{course.semester}}</td>
          <td>{{course.academic_year}}</td>
          <td>{{course.max_capacity}}</td>
          <td>{{course.current_registration}}</td>
          <td>{{course.status}}</td>
          <td><a href="add/{{course.course_ID}}" class="btn btn-success">เพิ่ม</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}